/speedata-publisher
/examples/kickstart/publisher-aux.xml
/examples/kickstart/publisher.finished
/examples/kickstart/publisher.protocol
/examples/kickstart/publisher.pdf
/examples/kickstart/publisher.status
/examples/kickstart/publisher.vars
